:root {
    --index: calc(1vh + 1vw);
    --transition: cubic-bezier(.1, .7, 0, 1);
}

body {
    background-image: url(-mountbg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 497;
    font-style: normal;
}

.nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-up {
    font-size: 150px;
    text-decoration: none;
    color: white;
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav {
    margin-top: 25px;
}

.main {
    margin-top: 50px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.items {
    display: flex;
    gap: .4rem;
    perspective: calc(var(--index) * 35);
}

.item {
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-color: #222;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    filter: grayscale() brightness(.5);
    transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
    will-change: transform, filter;
}

.items .item:hover {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
}

.item::before, .item::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
}

.item::after {
    left: calc(var(--index) * -1);
}

/* RIGHT */

.items .item:hover + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
}

.items .item:hover + * + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
}

.items .item:hover + * + * + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.4)) rotateY(30deg);
    z-index: -3;
}

.items .item:hover + * + * + * + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(14deg);
    z-index: -4;
}

/* LEFT */

.items .item:has(+ :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
    z-index: -1;
}

.items .item:has(+ * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
    z-index: -2;
}

.items .item:has(+ * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.4)) rotateY(-30deg);
    z-index: -3;
}

.items .item:has(+ * + * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * .6)) rotateY(-14deg);
    z-index: -4;
}

.items .item:active, .items .item:focus {
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(calc(var(--index) * 10));
    margin: 0 .45vw;
}

.btner {
    position: absolute;
    top: 500px;
    left: 50%;
    translate: -50% 250px;
    text-align: center;
    background-color: #222;
    padding: 20px;
    width: 200px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    transition: all .5s ease-in;
    font-size: 20px;
}

.btner:hover {
    background-color: white;
    color: #222;
}

.web-date {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    top: 862.5px;
    left: 10px;
}

.date-par {
    color: white;
    font-size: 20px;
}